
/* 
    Created on : Feb 14, 2024, 1:12:46 AM
    Author     : Zehnter
    comment    : This is still a work in progress.
*/

body {
  background-color: black;
}

h1 {
  color: orange;
  text-align: center;
  font-family: arial;
}

.server_info {
    color: yellow;
    font-family: arial;
    text-align: left;
}

.link_to_stats {
    color: green;
    font-family: arial;
    text-align: center;
    align-items: center;
}